<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>368331452742-sc8fu0mpblri3tt3q5qqfa4fgtf813js.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.368331452742-sc8fu0mpblri3tt3q5qqfa4fgtf813js</string>
	<key>API_KEY</key>
	<string>AIzaSyCslbjbu24FziR7AF74JEdrD-auuqLM8Qk</string>
	<key>GCM_SENDER_ID</key>
	<string>368331452742</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.fl03Lite</string>
	<key>PROJECT_ID</key>
	<string>fl03-lite</string>
	<key>STORAGE_BUCKET</key>
	<string>fl03-lite.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:368331452742:ios:ec12a1fcf87e021f5a7547</string>
</dict>
</plist>